<form id="chatform">
    <div class="chat-box">
        <div class="text-box">
            <input id='message-input' name="comment" placeholder="Enter text here..." />
        </div>
        <div class="submit-box">
            <input id="send-message" type="submit" value="Connecting.." disabled>
        </div>
    </div>
</form>

